body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(/Content/Images/blue/login_03.gif) repeat-x #152753;
    font-size: 12px;
    color: #adc9d9;
}

#top
{
    margin: 0 auto;
    clear: both;
    height: 318px;
    width: 847px;
    background: url(/Content/Images/blue/login_04.gif) no-repeat;
}

#center
{
    height: 84px;
    text-align: center;
}

#center_left
{
    margin-left: 216px;
    float: left;
    background: url(/Content/Images/blue/login_06.gif) no-repeat;
    height: 84px;
    width: 381px;
}
/* IE7 HACK*/
* + html #center_left
{
    margin-left: 206px !important;
}
/* END HACK*/
#center_middle
{
    float: left;
    background: url(/Content/Images/blue/login_07.gif) no-repeat;
    height: 84px;
    width: 162px;
}

#center_middle_right
{
    float: left;
    background: url(/Content/Images/blue/login_08.gif) no-repeat;
    height: 84px;
    width: 26px;
}

#center_submit
{
    float: left;
    background: url(/Content/Images/blue/login_09.gif) no-repeat;
    height: 84px;
    width: 67px;
}

#center_right
{
    float: left;
    background: url(/Content/Images/blue/login_10.gif) no-repeat;
    height: 84px;
    width: 211px;
}

#footer
{
    margin: 0 auto;
    background: url(/Content/Images/blue/login_11.gif) no-repeat;
    height: 206px;
    width: 847px;
}

INPUT
{
    width: 100px;
    height: 17px;
    background-color: #87adbf;
    border: solid 1px #153966;
    font-size: 12px;
    color: #283439;
}

.chknumber_input
{
    width: 40px;
}

.user
{
    margin: 6px auto;
}
/* IE7 HACK*/
* + html .user
{
    margin: 4px auto;
}
/* END HACK*/
.chknumber
{
    margin-bottom: 3px;
    text-align: left;
    padding-left: 3px;
}

.button
{
    margin: 15px auto;
}

img
{
    border: none;
    cursor: pointer;
}

for
{
    margin: 0;
    padding: 0;
}



/*****************************Blue******************************/
#userlogin_body
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND: url(/Content/Images/blue/user_all_bg.gif) #226cc5 repeat-x 50% top;
    PADDING-BOTTOM: 0px;
    MARGIN: 110px 0px 0px;
    FONT: 12px/150% Arial, "宋体",Helvetica,sans-serif;
    PADDING-TOP: 0px;
    TEXT-DECORATION: none;
}

#user_login
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}

#user_top
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}

#user_main
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}

#user_bottom
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}

#user_login DL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}

#user_login DD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}

#user_top
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}

#user_main
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}

#user_bottom
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}

#user_top UL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}

#user_main UL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}

#user_bottom UL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}

#user_top LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}

#user_main LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}

#user_bottom LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}

FORM
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}

#user_login
{
    MARGIN: 0px auto;
    WIDTH: 590px;
}

#user_top
{
    CLEAR: both;
}

#user_main
{
    CLEAR: both;
}

#user_bottom
{
    CLEAR: both;
}

#user_top LI
{
    FLOAT: left;
    LIST-STYLE-TYPE: none;
}

#user_main LI
{
    FLOAT: left;
    LIST-STYLE-TYPE: none;
}

#user_bottom LI
{
    FLOAT: left;
    LIST-STYLE-TYPE: none;
}

.user_top_r
{
    BACKGROUND: url(/Content/Images/blue/user_top_r.gif) no-repeat 50% top;
}

.user_top_c
{
    BACKGROUND: url(/Content/Images/blue/user_top_c.gif) no-repeat 50% top;
}

.user_top_l
{
    BACKGROUND: url(/Content/Images/blue/user_top_l.gif) no-repeat 50% top;
}

.user_main_r
{
    BACKGROUND: url(/Content/Images/blue/user_main_r.gif) #bec5cc no-repeat 50% top;
}

.user_main_c
{
    BACKGROUND: url(/Content/Images/blue/user_main_c.gif) #bec5cc no-repeat 50% top;
    WIDTH: 280px;
}

.user_main_l
{
    BACKGROUND: url(/Content/Images/blue/user_main_l.gif) #bec5cc no-repeat 50% top;
}

.user_bottom_r
{
    BACKGROUND: url(/Content/Images/blue/user_bottom_r.gif) no-repeat 50% top;
}

.user_bottom_c
{
    BACKGROUND: url(/Content/Images/blue/user_bottom_c.gif) no-repeat 50% top;
    COLOR: #fff;
    LINE-HEIGHT: 117px;
    PADDING-TOP: 20px;
    TEXT-ALIGN: right;
}

    .user_bottom_c A
    {
        COLOR: yellow;
        TEXT-DECORATION: underline;
    }

        .user_bottom_c A:hover
        {
            COLOR: #c00;
        }

.user_bottom_l
{
    BACKGROUND: url(/Content/Images/blue/user_bottom_l.gif) no-repeat 50% top;
}

.user_top_r
{
    FLOAT: left;
    WIDTH: 180px;
}

.user_main_r
{
    FLOAT: left;
    WIDTH: 180px;
}

.user_bottom_r
{
    FLOAT: left;
    WIDTH: 180px;
}

user_main_c
{
    FLOAT: left;
    WIDTH: 280px;
}

.user_top_c
{
    FLOAT: left;
    WIDTH: 280px;
}

.user_bottom_c
{
    FLOAT: left;
    WIDTH: 280px;
}

.user_top_l
{
    FLOAT: left;
    WIDTH: 129px;
}

.user_main_l
{
    FLOAT: left;
    WIDTH: 129px;
}

.user_bottom_l
{
    FLOAT: left;
    WIDTH: 129px;
}

.user_top_r
{
    HEIGHT: 116px;
}

.user_top_c
{
    HEIGHT: 116px;
}

.user_top_l
{
    HEIGHT: 116px;
}

.user_main_r
{
    HEIGHT: 139px;
}

.user_main_c
{
    HEIGHT: 139px;
}

.user_main_l
{
    HEIGHT: 139px;
}

.user_main_r
{
    LINE-HEIGHT: 139px;
}

.user_bottom_r
{
    HEIGHT: 117px;
}

.user_bottom_c
{
    HEIGHT: 117px;
}

.user_bottom_l
{
    HEIGHT: 117px;
}

.user_main_box
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    margin-top:10px;   
}

    .user_main_box UL
    {
        PADDING-RIGHT: 0px;
        PADDING-LEFT: 0px;
        PADDING-BOTTOM: 0px;
        MARGIN: 0px;
        PADDING-TOP: 0px;
    }

    .user_main_box LI
    {
        PADDING-RIGHT: 0px;
        PADDING-LEFT: 0px;
        PADDING-BOTTOM: 0px;
        MARGIN: 0px;
        PADDING-TOP: 0px;
    }

    .user_main_box UL
    {
        CLEAR: both;
    }

    .user_main_box LI
    {
        FLOAT: left;
        LIST-STYLE-TYPE: none;
    }

    .user_main_box .user_main_text
    {
        LINE-HEIGHT: 34px;
        HEIGHT: 34px;
    }

    .user_main_box .user_main_input
    {
        LINE-HEIGHT: 34px;
        HEIGHT: 34px;
    }

    .user_main_box .user_main_text
    {
        WIDTH: 60px;
        COLOR: #000;
    }

    .user_main_box .user_main_input IMG
    {
        MARGIN-BOTTOM: -2px;
        MARGIN-LEFT: -25px;
    }

.TxtUserNameCssClass
{
    BORDER-TOP-WIDTH: 0px;
    PADDING-LEFT: 25px;
    BORDER-LEFT-WIDTH: 0px;
    BACKGROUND: url(/Content/Images/blue/user_login_name.gif) no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    WIDTH: 165px;
    LINE-HEIGHT: 20px;
    HEIGHT: 21px;
    BORDER-RIGHT-WIDTH: 0px;
}

.TxtPasswordCssClass
{
    BORDER-TOP-WIDTH: 0px;
    PADDING-LEFT: 25px;
    BORDER-LEFT-WIDTH: 0px;
    BACKGROUND: url(/Content/Images/blue/user_login_password.gif) no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    WIDTH: 165px;
    LINE-HEIGHT: 20px;
    HEIGHT: 21px;
    BORDER-RIGHT-WIDTH: 0px;
}

.TxtValidateCodeCssClass
{
    BORDER-TOP-WIDTH: 0px;
    PADDING-LEFT: 25px;
    BORDER-LEFT-WIDTH: 0px;
    BACKGROUND: url(/Content/Images/blue/user_login_validatecode.gif) no-repeat;
    IME-MODE: disabled;
    BORDER-BOTTOM-WIDTH: 0px;
    WIDTH: 91px;
    LINE-HEIGHT: 20px;
    HEIGHT: 21px;
    BORDER-RIGHT-WIDTH: 0px;
}

.IbtnEnterCssClass
{
    WIDTH: 111px;
    HEIGHT: 122px;
}
